@font-face {
  font-family: 'kalam regular';
  src: url('../fonts/kalam-regular-webfont.eot');
  src: url('../fonts/kalam-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/kalam-regular-webfont.woff2') format('woff2'),
  url('../fonts/kalam-regular-webfont.woff') format('woff'),
  url('../fonts/kalam-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'kalam light';
  src: url('../fonts/kalam-light-webfont.eot');
  src: url('../fonts/kalam-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/kalam-light-webfont.woff2') format('woff2'),
  url('../fonts/kalam-light-webfont.woff') format('woff'),
  url('../fonts/kalam-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'kalam bold';
  src: url('../fonts/kalam-bold-webfont.eot');
  src: url('../fonts/kalam-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/kalam-bold-webfont.woff2') format('woff2'),
  url('../fonts/kalam-bold-webfont.woff') format('woff'),
  url('../fonts/kalam-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;

}
