@import "variables";
@import "fonts";

.dialog-off-canvas-main-canvas{
  .navbar-default{
    background-color: transparent;
    border: 3px solid $peachy;
    display: flex;
    align-items: center;
    border-radius: 20px;
    .navbar-header{
      .logo{
        padding: 0;
      }
    }

    .navbar-nav{
      > .active > a {
        &,&:focus {
          background-color: transparent;
          color:$peachy;
        }
      }
      a{
        text-transform: uppercase;
        font-weight: bold;
        color: $grey;
        display: inline-block;
        position: relative;
        overflow: hidden;
        padding: 3px 0 3px 0;
        margin: 0 10px 0;
        &:after{
          content: '';
          display: block;
          width: 0;
          height: 3px;
          background: $peachy;
          transition: left .3s;
          position: absolute;
          left: -100%;
          top: calc(100% - 3px);
        }
        &:hover{
          text-decoration: none;
          color: $peachy;
        }
        &:hover::after{
          width: 100%;
          left: 0;
        }
      }
    }
  }
}


