@import "variables";
@import "fonts";

.main-container{
  .highlighted{
    .messages__wrapper{
      .alert{
        background-color: transparent;
        border: 3px solid $peachy;
        text-align: center;
        margin: 0 auto 10px;
        color: $peachy;
        border-radius: 20px;
        text-transform: uppercase;
        font-weight: bold;
        .close{
          color: $red;
        }
      }
    }
  }
  .title{
    color: $grey;
    font-size: 34px;
    text-align: center;
    &:before,
    &:after{
      content: "♥";
      color: $peachy;
    }
  }

  .catsform{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .form-type-textfield{
      display: flex;
      align-items: center;
      margin: 0;
      .control-label{
        text-transform: uppercase;
        white-space: nowrap;
        margin: 0 15px 0 0;
        color: $grey;
      }
      .control-label:before{
        content: "* ";
        color: $red;
      }
      .control-label:after{
        display: none;
      }
      .form-text{
        max-width: 410px;
        margin-right: 15px;
        border-radius: 10px;
        border: 3px solid $peachy ;
        color: $grey;
        font-weight: bold;
        text-transform: uppercase;
        &::placeholder {
          color: $peachy;
          text-transform: none;
          font-weight: lighter;
        }
      }
    }
    .btn-success{
      border: none;
      background-color: $peachy;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 10px;
      &:hover{
        color: $peachy;
        background-color: transparent;
        transition: 0.4s ease;
      }
      &:focus{
        outline: none;
        box-shadow: none;
      }
    }
  }
}
